<div class="container">
  <h2>体重</h2>
  <p>体重計に乗って体重を測ってください</p>
  <%= form_for @weight, html: { class: 'form-inline'} do |f| %>
    <div class="form-group">
      <%= f.label :weight %>
      <%= f.number_field :weight, class: "form-control", step: "0.01" %>
    </div>
      <%= f.submit "追加", class: "btn btn-default" %>
  <% end %>
</div>